<html ng-app="licenta">
<head>
    <title>Licenta</title>
</head>
<body ng-controller="FileDownloadController">
<select ng-model="selected" ng-options="e for e in values">Select download type</select>
    <button ng-click="download()">Download</button>
<p>
    <input type="file" name="file" onchange="angular.element(this).scope().addFile(this.files)"/>
</p>
Find Optimum Number of clusters <input type="checkbox" ng-model="findOptimumNrClusters">
<p ng-show="!findOptimumNrClusters">
    Input Number of clusters:
    <input type="number" ng-model="numClusters">
</p>
<p ng-show="!findOptimumNrClusters">
    Use knowledge base :
    <input type="checkbox" ng-model="useKnowledgeBase">
</p>
<div ng-show="findOptimumNrClusters">
    <p>Min number of clusters:</p><input type="number" ng-model="minNrCluster">
    <p>Max number of clusters:</p><input type="number" ng-model="maxNrCluster">
</div>
<br>
<button ng-click="downloadToArff()">Convert CSV to  Arff</button>
<br>
<br>
<select ng-model="clusterer" ng-options="e for e in clusterers">Select cluster algorithm</select>
<select ng-model="filterName" ng-options="e for e in filters">Select data preprocess</select>
<select ng-model="distanceFunction" ng-options="e for e in distanceFunctions">Select distance function</select>
<select ng-model="evaluator" ng-options="e for e in evaluators">Select evaluator</select>
<button ng-click="downloadNoAi()">Download1</button>
</body>
<script src="node_modules/angular/angular.min.js"></script>
<script src="js/app.js"></script>
</html>